trunk/ScrumManagementApp/ScrumManagementApp.Client/Service References/SprintBacklogService/ScrumManagementApp.Common.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SprintBacklogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
      <xs:element minOccurs="0" name="SprintID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SprintBacklogDTO" nillable="true" type="tns:SprintBacklogDTO" />
  <xs:complexType name="UserStoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductBacklogId" type="xs:int" />
      <xs:element minOccurs="0" name="UserStoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStoryDTO" nillable="true" type="tns:UserStoryDTO" />
  <xs:complexType name="ArrayOfUserStoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserStoryDTO" nillable="true" type="tns:UserStoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserStoryDTO" nillable="true" type="tns:ArrayOfUserStoryDTO" />
</xs:schema>