trunk/ScrumManagementApp/ScrumManagementApp.Client/Service References/SprintBacklogService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" />
  <xs:element name="GetSprintBacklogById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintBacklogByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetSprintBacklogByIdResult" nillable="true" type="q1:SprintBacklogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserStoryToSprintBacklog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="userStory" nillable="true" type="q2:UserStoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserStoryToSprintBacklogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintBacklogUserStories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintBacklogUserStoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetSprintBacklogUserStoriesResult" nillable="true" type="q3:ArrayOfUserStoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="userStory" nillable="true" type="q4:UserStoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="userStory" nillable="true" type="q5:UserStoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprioritiseUserStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprintBacklogID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="userStory" nillable="true" type="q6:UserStoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprioritiseUserStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>