trunk/ScrumManagementApp/ScrumManagementApp.Client/Service References/ProjectService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="project" nillable="true" type="q1:ProjectDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="CreateProjectResult" nillable="true" type="q2:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetAllProjectsResult" nillable="true" type="q3:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetProjectsForUserResult" nillable="true" type="q4:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectManagerForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectManagerForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetProjectManagerForProjectResult" nillable="true" type="q5:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOwnerForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOwnerForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetProductOwnerForProjectResult" nillable="true" type="q6:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScrumMastersForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScrumMastersForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetScrumMastersForProjectResult" nillable="true" type="q7:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetProjectByIdResult" nillable="true" type="q8:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="GetProjectByNameResult" nillable="true" type="q9:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasConflictingProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasConflictingProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasConflictingProjectsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q10:ProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProductOwnerToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q11:ProjectDTO" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProductOwnerToProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignsScrumMastersToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q12:ProjectDTO" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q13:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignsScrumMastersToProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q14:ProjectDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsProjectManagerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProductOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q15:ProjectDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProductOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsProductOwnerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsScrumMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q16:ProjectDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsScrumMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsScrumMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDeveloper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" minOccurs="0" name="projectDTO" nillable="true" type="q17:ProjectDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDeveloperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDeveloperResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>