trunk/ScrumManagementApp/ScrumManagementApp.Client/Service References/TaskService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ScrumManagementApp.Common.DTOs" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Threading.Tasks" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetTasksForUserStory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksForUserStory" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetTasksForUserStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksForUserStoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskService">
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/AddTask" message="tns:ITaskService_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/AddTaskResponse" message="tns:ITaskService_AddTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksForUserStory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetTasksForUserStory" message="tns:ITaskService_GetTasksForUserStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetTasksForUserStoryResponse" message="tns:ITaskService_GetTasksForUserStory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskService" type="tns:ITaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://tempuri.org/ITaskService/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksForUserStory">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetTasksForUserStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port name="BasicHttpBinding_ITaskService" binding="tns:BasicHttpBinding_ITaskService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService.Services/TaskService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>